<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Personal Page</title>
</head>
<body>
    <div class="content">
        <div class="message">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class="flashes">
            {% for each in messages: %}
                <li>{{ each }}</li>
            {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </div>
        <h1>Welcome Back, {{ user.first_name }}!</h1>
        <p>{{ user.email }}</p>
    </div>
</body>
</html>